numpy==1.26.4
pyaudio==0.2.14
soundfile==0.13.1
webrtcvad==2.0.10
speechbrain==1.0.3
sentence-transformers==5.1.0
networkx==3.2.1
openai==1.99.3
spacy==3.8.7
requests==2.32.3
PyQt5==5.15.10
toml==0.10.2
modelscope==1.10.0
live2d-py==0.5.3.5
sounddevice==0.5.2
pyautogui==0.9.54
torch==2.8.0
torchaudio==2.8.0
funasr==1.0.27
noise==1.2.2
